@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: white;
  }
  
  .title {
    max-width: 480px;
    margin: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font-family: "Oxygen", sans-serif;
    color: #333;
    font-size: 30px;
    letter-spacing: 3px;
  }
  
  .score {
    margin-top: 10px;
  }
  
  .container {
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    margin: auto;
    padding: 20px;
  }
  
  .card div {
    height: 130px;
    border-radius: 4px;
  }
  
  .card {
    position: relative;
    cursor: pointer;
  }
  
  .front-card {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #121111;
    background-color: #f2f2f2;
    transform: rotateY(90deg);
  }
  
  .back {
    background-color: #f20505;
  }
  
  img {
    height: 100px;
    width: 100px;
  }
  
  .turn {
    transform: rotateY(0deg);
  }
  .match {
    transform: rotateY(0deg);
  }
  
  .see {
    transform: rotateY(0deg);
  }
  
  @media screen and (min-width: 770px) {
    .title {
      max-width: 760px;
    }
  
    .container {
      grid-template-columns: repeat(4, auto);
    }
  
    .card div {
      height: 170px;
    }
  }